/* .footer {
    border: solid 0.2rem;
    margin-top: 3rem;
    height: 20rem;
    display: flex;
    justify-content: center;
}

.form {

} */

/* .footer {
    width: 100%;
    height: 100%;
}

.form {
    border: solid 0.2rem;
    margin-top: 3rem;
    height: 20rem;
    display: flex;
    justify-content: center;
}

.innerForm {
    margin-top: 1rem;
}

.name {
    display: flex;
}

.name label {
    padding-right: 1rem;
}

.name .firstName {
    padding-right: 1rem;
}

.email label {
    padding-right: 1rem;
}

.email input {
    margin-top: 1rem;
    width: 24.2rem;
}

.phone label {
    padding-right: 3rem;
}

.phone input {
    margin-top: 1rem;
    width: 24.2rem;
} */

.footer {
    border: solid 0.2rem;
    margin-top: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    padding: 20px;
}