.home {
    width: 100%;
}

div.row {
    background-color: antiquewhite;
    height: 20rem;
}

div.header {
    padding-top: 7rem;
}

h1.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 600;
}