.home {
    width: 100%;
}

div.row {
    background-image: url("https://t4.ftcdn.net/jpg/01/26/21/61/240_F_126216129_LFr9Ic0E1IY5ciElIHrrWVNENTY9jNBv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    width: auto;
}

div.header {
    padding-top: 10rem;
    color: white;
}

h1.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 600;
}

.container {
    width: 100%;
    height: 100%;
}

.boxes {
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

.boxes1 {
    width: 30rem;
    height: 30rem;
    border: 0.5rem solid;
    margin-top: 4rem;
}

.boxes1 .images {
    width: 100%;
    height: 100%;
}

.images {}