.title {
    border: 0.2rem solid;
    background: mediumturquoise;
    width: 100%;
    height: 100%;
}

.titleDiv {
    height: 15rem;
}

.titleDiv h1 {
    font-size: 3rem;
    color: antiquewhite;
    text-align: center;
    margin-top: 10rem;
}

.boxes {
    display: flex;
    justify-content: space-evenly;

}

.innerBoxes {
    margin-top: 5rem;
    border: 0.3rem solid;
    width: 25%;
    border-bottom-right-radius: 15%;
    height: 20rem;
}

@media screen and (min-width: 280px) and (max-width: 411px) {

    .titleDiv h1 {
        font-size: 2.5rem;

    }

    .boxes {
        display: grid;
    }

    .innerBoxes {
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (min-width: 412px) and (max-width: 767px) {
    .titleDiv h1 {
        font-size: 2rem;
    }

    .boxes {
        display: grid;
    }

    .innerBoxes {
        width: 20rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 912px) {
    .innerBoxes {
        margin-top: 5rem;
        width: 15rem;
        height: 14rem;
    }
}